.login_box {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  box-sizing: border-box;
  width: 291px;
  height: 267px;
  left: 575px;
  top: 378px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: linear-gradient(180deg, #522cfb 0%, rgba(134, 140, 255, 0) 100%),
    #868cff;
  border-radius: 20px;
}
.login {
  /* 로그인 */
  width: 93px;
  height: 42px;
  /* Display Text/Small/ Bold */
  margin: 1rem;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
  /* identical to box height, or 124% */

  letter-spacing: -0.02em;

  color: #ffffff;
}
.id {
  width: 217px;
  height: 36px;
  margin: 1rem;

  border: 1px solid rgba(74, 72, 72, 0.5);
  box-sizing: border-box;
  border-radius: 10px;
}
.pwd {
  width: 217px;
  height: 36px;
  margin: 1rem;
  border: 1px solid rgba(74, 72, 72, 0.5);
  box-sizing: border-box;
  border-radius: 10px;
}
