.content {
  display: flex;
}
.content nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 290px;
  height: 1024px;
  left: 0px;
  top: 1px;
  border: 1px solid #1b2559;
  background: #ffffff;
}
.Main {
  position: static;
  width: 214px;
  height: 45px;
  left: 0px;
  top: 0px;

  /* Primary/Purple Blue/500 - Primary */

  background: #4318ff;
  border-radius: 5px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  letter-spacing: -0.02em;
  /* Secondary/ Primary White */
  color: #ffffff;
  margin-top: 4rem;
}
input {
  /* Frame 16 */

  position: static;
  width: 214px;
  height: 45px;
  left: 0px;
  top: 0px;
  margin-top: 4rem;
  /* Primary/Purple Blue/500 - Primary */
  border-radius: 5px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  letter-spacing: -0.02em;
  /* Secondary/ Primary White */
  color: #ffffff;
}
.main {
  display: flex;
  flex-direction: column;
}
main h1 {
  position: absolute;
  width: 300px;
  height: 32px;
  left: 343px;
  top: 58px;

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 32px;
  /* identical to box height, or 89% */

  text-align: center;
  letter-spacing: -0.02em;

  color: #000000;
}
main .my_graph {
  position: absolute;
  width: 1024px;
  height: 307px;
  left: 343px;
  top: 119px;
  border: #1b2559 solid 1px;
  background: #ffffff;
  border-radius: 20px;
}
.total_point text1 {
  position: absolute;
  width: 114px;
  height: 22px;
  left: 28px;
  top: 23px;

  /* Body Text/ Small/ Medium */

  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: -0.02em;

  color: #ffffff;
}
.total_point text2 {
  position: absolute;
  width: 200px;
  height: 42px;
  left: 28px;
  top: 48px;

  /* Display Text/Small/ Bold */

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
  /* identical to box height, or 124% */

  letter-spacing: -0.02em;

  color: #ffffff;
}
.total_point .rest_point {
  position: absolute;
  left: 65.93%;
  right: 2.9%;
  top: 61.27%;
  bottom: 18.14%;

  /* Display Text/Small/ Bold */

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
  line-height: 42px;
  /* identical to box height, or 76% */

  letter-spacing: -0.02em;

  color: #ffffff;
}
.part {
  display: flex;
  border: 1px solid black;
  position: absolute;
  width: 1025px;
  height: 20px;
  left: 339px;
  top: 468px;
}
.part .all {
  position: absolute;
  width: 71px;
  height: 30px;
  left: 339px;
  top: 468px;
  color: black;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}
.part .send {
  position: absolute;
  width: 71px;
  height: 30px;
  left: 427px;
  top: 469px;
  color: black;
  background: #ffffff;
  border-radius: 10px;
}
.part .receive {
  position: absolute;
  width: 71px;
  height: 30px;
  left: 513px;
  top: 469px;
  background: #4318ff;
  border-radius: 10px;
}
.list_box {
  border: 1px solid #1b2559;
  position: absolute;
  width: 1025px;
  height: 458px;
  left: 337px;
  top: 518px;

  background: #ffffff;
  border-radius: 20px;
}
.list_box .list_text {
  display: flex;
  top: 10px;
}
.list_text ul {
  width: 148.73px;
  height: 21.1px;
  border: 1px solid black;
  /* Body Text/ Small/ Bold */

  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #4318ff;
}
hr {
  position: absolute;
  width: 949px;
  height: 0px;
  left: 40px;
  top: 75px;
  border: 1px solid #4318ff;
}
